/* This is your custom CSS file */
:root {
	--x-gap: 2rem;
	--y-gap: 1rem;
}

/* General */

body {
	background-size: auto;
	overflow-x: hidden;
	margin-right: 100px;
	margin-left: 100px;
}


.view {
	float: right;
	color: rgb(129, 129, 129);

}

/* News */

.img {
	width: 400px;
	margin-top: 20px;
}

.part1 {
	padding: 2rem;
	margin-top: 25px;
	background: #dbdbdb;
	display: grid;
}

.part2 {
	background: #fbfbfb;
	padding: 2rem;
	margin-top: 25px;
	display: grid;
}

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 40px;
	margin-right: 40px;
}

a {
	color: rgb(111, 111, 111);
	font-size: 16px;
}

.small {
	margin-left: 340px;

}

.a1 {
	font: bold;
	color: black;
	font-size: 30px;
}

/* Sport */
.img1 {
	width: 400px;
	margin-top: 20px;
}

.container1{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 40px;
	margin-right: 40px;
}

.part3 {
	background: #fbfbfb;
	padding: 2rem;
	margin-top: 25px;
	display: grid;
}

.part4 {
	padding: 2rem;
	margin-top: 25px;
	background: #dbdbdb;
	display: grid;
}

/* Economy */
.img2 {
	width: 400px;
	margin-top: 20px;
}

.container2{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-left: 40px;
	margin-right: 40px;
}

.part6 {
	background: #fbfbfb;
	padding: 2rem;
	margin-top: 25px;
	display: grid;
}

.part5 {
	padding: 2rem;
	margin-top: 25px;
	background: #dbdbdb;
	display: grid;
}

/* ------------------------- */

.main__navigation {
	position: fixed;
	inset: 0 0 0 25%;
	flex-direction: column;
	padding: min(30vh, 10rem) 2rem;
	display: inline-block;
	list-style: none;
	margin: 0;

	background: #ffffff;
	backdrop-filter: blur(1rem);

	transform: translateX(100%);
	transition: all .33s ease-in-out;
}

.main__navigation[data-visible="true"] {
	transform: translateX(0%);
}

.navigation {
	align-items: center;
	justify-content: space-between;
}

a {
	color: #000000;
	text-decoration: none;
	transition: all .33s ease-in-out;
}

li.active a {
	font-weight: bold;
}

a:hover {
	color: #7a7a7a;
	text-decoration: none;
}

.logo {
	max-width: 10rem;
	padding: 1rem;
}

.mobile-nav__toggle {
	background: url('./../assets/menu.png');
	background-repeat: no-repeat;
	border: 0;
	display: block;
	background-size: contain;
	position: absolute;
	width: 2rem;
	aspect-ratio: 1;
	top: 2rem;
	right: 2rem;
	z-index: 9999;
}

/* Utility */

.flex {
	display: flex;
}

.flex.spaced {
	gap: var(--x-gap, --y-gap);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

@media screen and (min-width: 40rem) {
	.mobile-nav__toggle {
		display: none;
	}

	.main__navigation {
		position: relative;
		flex-direction: row;
		gap: 10rem !important;
		inset: unset;
		padding: 3rem;
		transform: translateX(0%);
	}
}
